github "adventam10/AMClockView" == 2.0
github "adventam10/AMNowClockView" == 2.1
github "adventam10/AMColorPicker" == 2.0
github "adventam10/AMJpnMapView" == 2.0
github "adventam10/AMBurnAnimation" == 2.0
github "adventam10/AMVennDiagramView" == 2.0
github "adventam10/AMChart" == 2.1
github "adventam10/AMCalendar" == 2.0
github "adventam10/AMSpeedMeter" == 2.0
github "adventam10/AMMeterView" == 2.0
